<app-sidebar></app-sidebar>
<app-header></app-header>
<div class="main main-app p-3 p-lg-12">
    <div class="container">
        <div class="col-lg-12 d-flex flex-column align-items-center">
            <h1 class="error-number">404</h1>
            <h2 class="error-title">No se encontro la página</h2>
            <div class="col-lg-4">
                <p class="error-text">Oopps. La página que estabas buscando no existe. Es posible que haya escrito mal
                    la dirección o que la página se haya movido.</p>
            </div>
            <a class="btn btn-primary btn-error" (click)="redirect()">Volver al inicio</a>
        </div>

    </div>

</div>
