<app-sidebar></app-sidebar>
<app-header></app-header>
<div class="main main-app p-3 p-lg-4">
    <div class="d-flex align-items-center justify-content-between mb-4">
        <div class="mt-2">
            <h3 class="main-title mb-0">Registro de proyectos</h3>
        </div>
    </div>
    <form [formGroup]="formularioProyectos">
        <div class="container mt-5">
            <div class="row">
                <mat-form-field class="col-lg-6" appearance="outline">
                  <mat-label>Código</mat-label>
                  <input matInput type="text" placeholder="Código" formControlName="code" />
                  <mat-error *ngIf="campoEsInvalido('code')" class="text-danger">
                    {{ obtenerMensajeErrorCampo('code') }}
                  </mat-error>
                </mat-form-field>

                <mat-form-field class="col-12 col-lg-6 pe-0 pe-lg-3" appearance="outline">
                    <mat-label>Programa</mat-label>
                    <mat-select formControlName="program_id" (selectionChange)="programaSeleccionado($event)">
                        <mat-option *ngFor="
                        let item of listaProgramas
                      " value="{{ item.id }}">{{ item.carrera }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="campoEsInvalido('program_id')">
                        {{ obtenerMensajeErrorCampo('program_id') }}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row mt-2">
                <mat-form-field class="col-lg-6" appearance="outline">
                    <mat-label>Nombre del proyecto</mat-label>
                    <input matInput type="text" placeholder="Nombre del proyecto" formControlName="name" />
                    <mat-error *ngIf="campoEsInvalido('name')" class="text-danger">
                        {{ obtenerMensajeErrorCampo('name') }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="col-lg-6" appearance="outline">
                    <mat-label>Objetivo general</mat-label>
                    <input matInput type="text" placeholder="Objetivo general" formControlName="objective" />
                    <mat-error *ngIf="campoEsInvalido('objective')" class="text-danger">
                        {{ obtenerMensajeErrorCampo('objective') }}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row mt-2">
                <mat-form-field class="col-lg-4" appearance="outline">
                    <mat-label>Investigador uno</mat-label>
                    <input matInput type="text" placeholder="Investigador uno" formControlName="researcher_one" />
                    <mat-error *ngIf="campoEsInvalido('researcher_one')" class="text-danger">
                        {{ obtenerMensajeErrorCampo('researcher_one') }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="col-lg-4" appearance="outline">
                    <mat-label>Investigador dos</mat-label>
                    <input matInput type="text" placeholder="Investigador dos" formControlName="researcher_two" />
                    <mat-error *ngIf="campoEsInvalido('researcher_two')" class="text-danger">
                        {{ obtenerMensajeErrorCampo('researcher_two') }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="col-lg-4" appearance="outline">
                    <mat-label>Investigador tres</mat-label>
                    <input matInput type="text" placeholder="Investigador tres" formControlName="researcher_three" />
                    <mat-error *ngIf="campoEsInvalido('researcher_three')" class="text-danger">
                        {{ obtenerMensajeErrorCampo('researcher_three') }}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row mt-2">
                <mat-form-field class="col-lg-6" appearance="outline">
                    <mat-label>Fecha inicio</mat-label>
                    <input matInput type="text" placeholder="DD/MM/YYYY" formControlName="start_date" />
                    <mat-error *ngIf="campoEsInvalido('start_date')" class="text-danger">
                        {{ obtenerMensajeErrorCampo('start_date') }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="col-lg-6" appearance="outline">
                    <mat-label>Fecha fin</mat-label>
                    <input matInput type="text" placeholder="DD/MM/YYYY" formControlName="end_date" />
                    <mat-error *ngIf="campoEsInvalido('end_date')" class="text-danger">
                        {{ obtenerMensajeErrorCampo('end_date') }}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row mt-2">
                <mat-form-field class="col-lg-6" appearance="outline">
                    <mat-label>Valor del proyecto</mat-label>
                    <input matInput type="text" placeholder="Valor del proyecto" formControlName="value" />
                    <mat-error *ngIf="campoEsInvalido('value')" class="text-danger">
                        {{ obtenerMensajeErrorCampo('value') }}
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="col-12 col-lg-6 pe-0 pe-lg-3" appearance="outline">
                    <mat-label>Estado</mat-label>
                    <mat-select formControlName="status" >
                        <mat-option *ngFor="
                        let item of estadosProyectos
                      " value="{{ item.estado }}">{{ item.estado }}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="campoEsInvalido('status')">
                        {{ obtenerMensajeErrorCampo('status') }}
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="row mt-2">
              <mat-form-field class="col-lg-6" appearance="outline">
                <mat-label>Procedencia</mat-label>
                <input matInput type="text" placeholder="Procedencia" formControlName="source" />
                <mat-error *ngIf="campoEsInvalido('source')" class="text-danger">
                    {{ obtenerMensajeErrorCampo('source') }}
                </mat-error>
            </mat-form-field>
            </div>

            <div *ngIf="mensajeAlerta!=''" class="{{tipoAlerta}}">
                <h3><b>{{mensajeAlerta}}</b></h3>
            </div>
            <button type="button" class="btn btn-primary mt-2 " (click)="guardarProyecto()">Guardar</button>

        </div>
    </form>
</div>
