<div class="sidebar">
  <div class="sidebar-header">
      <img src="../../../../assets/img/fetlogo.png" alt="logo" >
  </div>
  <div id="sidebarMenu" class="sidebar-body">
      <div class="nav-group show">
          <a href="#" class="nav-label">Dashboard</a>
          <ul class="nav nav-sidebar">
              <li class="nav-item">
                  <a routerLink="/dashboard" class="nav-link"> <span>Pantalla principal</span></a>
                  <a routerLink="/project-register" class="nav-link"> <span>Registrar proyectos</span></a>
                  <!--<a href="crypto.html" class="nav-link"> <span>Registro de usuarios</span></a>-->
              </li>
          </ul>
      </div>
  </div>
</div>
